# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.json
exercicios_beecrowd/media1_1005/bin/Release/media1_1005
exercicios_beecrowd/media1_1005/main
exercicios_beecrowd/media1_1005/media1_1005.cbp
exercicios_beecrowd/media1_1005/media1_1005.depend
*.layout
exercicios_beecrowd/produto_simples_1004/bin/Release/produto_simples_1004
*.cbp
exercicios_beecrowd/numeros_positivos_1060/numeros_positivos_1060.depend
exercicios_beecrowd/diferenca_1007/bin/Debug/diferenca_1007
exercicios_beecrowd/media2_1006/bin/Debug/media2_1006
exercicios_beecrowd/numeros_positivos_1060/bin/Debug/numeros_positivos_1060
exercicios_beecrowd/par_ou_impar_1074/bin/Debug/par_ou_impar_1074
exercicios_beecrowd/par_ou_impar_1074/par_ou_impar_1074.depend
