# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.json
exercicios_beecrowd/media1_1005/bin/Release/media1_1005
exercicios_beecrowd/media1_1005/main
exercicios_beecrowd/media1_1005/media1_1005.cbp
exercicios_beecrowd/media1_1005/media1_1005.depend
*.layout
exercicios_beecrowd/produto_simples_1004/bin/Release/produto_simples_1004
*.cbp
exercicios_beecrowd/numeros_positivos_1060/numeros_positivos_1060.depend
exercicios_beecrowd/diferenca_1007/bin/Debug/diferenca_1007
exercicios_beecrowd/media2_1006/bin/Debug/media2_1006
exercicios_beecrowd/numeros_positivos_1060/bin/Debug/numeros_positivos_1060
exercicios_beecrowd/par_ou_impar_1074/bin/Debug/par_ou_impar_1074
exercicios_beecrowd/par_ou_impar_1074/par_ou_impar_1074.depend
exercicios_beecrowd/salario_com_bonus_1009/main
exercicios_beecrowd/saltos_ornamentais_2311/main.c
exercicios_beecrowd/esfera_1011/bin/Debug/esfera_1011
exercicios_beecrowd/esfera_1011/esfera_1011.depend
exercicios_beecrowd/esfera_1011/main
exercicios_beecrowd/validacao_de_nota_1117/bin/Debug/validacao_de_nota_1117
exercicios_beecrowd/validacao_de_nota_1117/validacao_de_nota_1117.depend
exercicios_beecrowd/area_1012/bin/Debug/area_1012
exercicios_beecrowd/o_maior_1013/o_maior_1013.depend
exercicios_beecrowd/o_escolhido_1983/o_escolhido_1983.depend
exercicios_beecrowd/o_maior_1013/bin/Debug/o_maior_1013
exercicios_beecrowd/o_escolhido_1983/bin/Debug/o_escolhido_1983
exercicios_beecrowd/escolha_dificil_2702/escolha_dificil_2702.depend
exercicios_beecrowd/escolha_dificil_2702/bin/Debug/escolha_dificil_2702
exercicios_beecrowd/teste/main.c
exercicios_beecrowd/desafio_do_maior_numero_2414/main.c
exercicios_beecrowd/distancia_1016/distancia_1016.depend
exercicios_beecrowd/ex7_aula1710/bin/Debug/ex7_aula1710
exercicios_beecrowd/distancia_1016/bin/Debug/distancia_1016
exercicios_beecrowd/ex7_aula1710/ex7_aula1710.depend
exercicios_beecrowd/gasto_de_combustivel_1017/bin/Debug/gasto_de_combustivel_1017
*.depend
exercicios_beecrowd/linha_na_matriz_1181/bin/Debug/linha_na_matriz_1181
exercicios_beecrowd/preenchimento_de_vetor4_1179/bin/Debug/preenchimento_de_vetor4_1179
exercicios_beecrowd/substituicao-em-vetor1-1172/bin/Debug/substituicao-em-vetor1-1172
exercicios_beecrowd/alarme_despertador_1103/bin/Debug/alarme_despertador_1103
exercicios_beecrowd/10_2/ex_do_dia24/main.c
exercicios_beecrowd/area_esquerda_1189/bin/Debug/area_esquerda_1189
exercicios_beecrowd/cedulas_1018/bin/Debug/cedulas_1018
exercicios_beecrowd/alarme_despertador_1103/main.c
exercicios_beecrowd/alarme_despertador_1103/main
